---
import MainHeader from '../components/MainHeader.astro';
import HeroSection from '../components/HeroSection.astro';
import ServicesSection from '../components/ServicesSection.astro';
import LocationsSection from '../components/LocationsSection.astro';
import GallerySection from '../components/GallerySection.astro';
import SiauSection from '../components/SiauSection.astro';
import SiteFooter from '../components/SiteFooter.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<MainHeader />
	<main>
		<HeroSection />
		<ServicesSection />
		<LocationsSection />
		<GallerySection />
		<SiauSection />
	</main>
	<SiteFooter />
</Layout>
