---
import MainHeader from '../components/MainHeader.astro';
import HeroSection from '../components/HeroSection.astro';
import ServicesSection from '../components/ServicesSection.astro';
import LocationsSection from '../components/LocationsSection.astro';
import AboutSummarySection from '../components/AboutSummarySection.astro';
import SiauSection from '../components/SiauSection.astro';
import SiteFooter from '../components/SiteFooter.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Organización Humana Integral | Atención en salud en Valledupar"
	description="OHI ofrece servicios de salud de mediana y alta complejidad en Valledupar, con sedes, urgencias, hospitalización, cirugía y atención humanizada."
	path="/"
>
	<MainHeader />
	<main id="contenido-principal">
		<HeroSection />
		<AboutSummarySection />
		<ServicesSection />
		<LocationsSection />
		<SiauSection />
	</main>
	<SiteFooter />
</Layout>
