---
import '../styles/global.css'
import '@fontsource/inter/400.css';
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="es">
	<head>
		<ClientRouter />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/icon.webp" />
		<link rel="icon" href="/icon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>Organización Humana Integral</title>
	</head>
	<body>
		<a class="skip-link" href="#contenido-principal">Saltar al contenido principal</a>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
